
 
 
 
        <link rel="stylesheet" href="project.css" >
        <script src="work1.html"></script>
        <!--Stop Scrolling-->
        <meta name="viewport" content="width-device-width, initial-scale=1.0, user-scalable=no"/>
        <meta name="HandheldFriendly" content="true"/>
        <!--Apple remove address bar-->
        <meta name="apple-mobile-web-app-capable" content="yes" />
    </head>
 
    <body style="background-color: rgb(224, 103, 103); margin:0px; padding:0px;align-content: center;text-align: center;" onclick="window.open('work.html','_parent')">
 
        <h1 id="title" style="color:rgb(233, 37, 37);font-family: 'Courier New', Courier, monospace;font-size: 50px;">Photos</h1>
 
    </body>
 
</html>